[package]
name = "static-web-server"
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
libcnb = "=0.25.0"
commons_ruby = { git = "https://github.com/heroku/buildpacks-ruby", branch = "main", package = "commons" }
libherokubuildpack = { version = "=0.22.0", default-features = false, features = ["download", "fs", "log", "tar", "toml"] }
indoc = "2"
serde = "1"
serde_json = "1"
static_web_server_utils = { path = "../../common/static_web_server_utils" }
env_as_html_data = { path = "../../common/env_as_html_data" }
tempfile = "3"
toml = { version = "0.8", features = ["preserve_order"] }
ureq = "2"
indexmap = "2"

[dev-dependencies]
libcnb-test = "=0.25.0"
test_support.workspace = true
