[package]
name = "website-public-html"
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
libcnb = "=0.25.0"
commons_ruby = { git = "https://github.com/heroku/buildpacks-ruby", branch = "main", package = "commons" }
libherokubuildpack = { version = "=0.22.0", default-features = false, features = ["fs", "log"] }
indoc = "2"
static_web_server_utils = { path = "../../common/static_web_server_utils" }
toml = { version = "0.8", features = ["preserve_order"] }
bullet_stream = "0.10.0"

[dev-dependencies]
libcnb-test = "=0.25.0"
test_support.workspace = true
