[package]
name = "test_support"
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
libcnb = { version = "=0.30.2", features = ["trace"] }
libcnb-test = "=0.30.2"
ureq = "2"
